*{
    background-color:black;
}

.buttons{
    display:flex;
    justify-content:center;
}

.rock, .paper, .scissors{
    color:dark;
    font-size:larger;
    font-weight:700;
    width:100px;
    height:70px;
    background-color:orangered;
    margin:300px 20px;
    border-radius: 15px;
}